body {
    min-height:100%;
}

#root {
    margin: 1em;
}

#intro {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}