@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
    color: rgba(9, 9, 9, 0.75);
}

a, li {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.25em;
    color: rgba(9, 9, 9, 0.75);
    text-decoration: none;
}

b, strong {
    color: rgba(0,136,169,1);
    }

button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: white;
    text-decoration: none;
}
 /* Contact form */

textarea {
    padding: 8px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
    font-weight: bolder;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }


/* Navigation */

.nav_links {
    margin: 1.25em 0;
}

.nav_links a {
    cursor: pointer;
    padding: 0.35em;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
}

header {
    height: 5em;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    flex-flow: row nowrap;
    background-color: transparent;
    z-index: 99999;
}

#root {
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 999;

}

#intro {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 999;
    scroll-snap-align: start;
}

#about {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 999;
    scroll-snap-align: start;
}

#skills {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 999;
    scroll-snap-align: start;
}

.skill_frame {
    height: auto;
    width: 10vw;
    margin-bottom: 1em;
}

.skill_title {
    font-family: "Montserrat", sans-serif;
    height: 3.5vh;
    width: 11vw;
    color: rgb(34, 34, 34);
    font-size: 1.5em;    
    font-weight: bolder;
    border-bottom: 1px solid rgba(0,136,169,1);
    margin-bottom: 0.5em;
}

.skill_unit {
    font-family: "Montserrat", sans-serif;
    margin-top: 0.25em;
    margin-left: 3.5em;
    height: 2.5vh;
    width: 10vw;
    font-size: large;    
}

.skill_extra {
    font-size: small;    
}

#samples {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 999;
    scroll-snap-align: start;
}

.sample_icon {
    position: relative;
    top: 10em;
    left: 10em;
    width: 5em;
    height: auto;
}

.sample_container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: auto;
    height: auto;
    color: black;
    margin: 1em;
}

.create_db_form {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
}

.th_db_name {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: large;
}

table {
    width: 100%;
    border: 1px solid black;
    display: table;
    table-layout: auto;
    border-collapse: collapse;
  }

  thead {
    display: block;
  }

  tr {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: center;
  }

  #show_employee_table {
      width: 100%;
  }

  .td_size_1 {
      width: 25px;
  }

  .td_size_2 {
      width: 60px;
  }

  .td_size_3 {
      width: 130px;
  }

  td input {
      text-overflow: ellipsis;
  }


  tbody {
    padding: 1em 1em;
    display: block;
    height: auto;
    max-height: 20vh;
    overflow: auto;
  }

.employee_input {
    width: 90px;
}

.edit_employee_input {
    width: 100%;
}

.input_noneditable {
    border: none;
}


.employee_input_age {
    width: 50px;
}

.db_button {
    width: 70px;
    height: 30px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 20px;
    text-align: center;
}

#create_employee_button {
    margin: 0 1em;
}

.td_save_edit_employee {
    display: none;
}

#db_button_ce {
    width: 140px;
    height: 30px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 20px;
    text-align: center;
}

.export_button {
    width: 120px;
    height: 60px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 20px;
    text-align: center;
}

#tools {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: left;
    align-items: left;
}

.tools {
    height: 85vh !important;
}

.tool_frame {
    width: auto;
    height: 100%;
    margin-bottom: 1em;
}

.sample_title {
    font-family: "Montserrat", sans-serif;
    height: 3.5vh;
    width: 20vw;
    color: rgb(34, 34, 34);
    font-size: 1.5em;    
    font-weight: bolder;
    border-bottom: 1px solid rgba(0,136,169,1);
    margin-bottom: 0.5em;
}


.tool_title {
    font-family: "Montserrat", sans-serif;
    height: 3.5vh;
    width: 20vw;
    color: rgb(34, 34, 34);
    font-size: 1.5em;    
    font-weight: bolder;
    border-bottom: 1px solid rgba(0,136,169,1);
    margin-bottom: 0.5em;
}

.tool_unit {
    font-family: "Montserrat", sans-serif;
    margin-top: 0.25em;
    margin-left: 3.5em;
    height: 2.5vh;
    width: auto;
    font-size: large;    
}

#intro_container .page_content {
    background-image: url("../img/door3.png"), url("../img/code_example3.png");
    background-repeat: no-repeat;
    background-size: cover, 75%;
    background-position: right bottom, right -150px top -50px;
}


#intro_container p {
    color: #dbe6e6;
    text-shadow: 1px 1px 1px #000000;
}

.page_header_intro {
    position: relative;
    top: 30%;
    left: 20%;
    display: flex;
    flex-flow: column nowrap;
    background-color: transparent;
}

.page_title_intro {
    color: #798e8e;
    text-shadow: 1px 1px 1px #000000;
    font-size: 3.5em;
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
}

.page_header {
    position: relative;
    top: 15%;
    left: 20%;
    display: flex;
    flex-flow: column nowrap;
    background-color: transparent;
}

.page_title {
    color: rgba(0,136,169,1);
    width: 70%;
    text-shadow: 1px 1px 1px #00000080;
    font-size: 3.5em;
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.page_subtitle {
    color: rgba(22, 22, 22, 0.75);
    font-size: 2.3em;
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
    text-shadow: 1px 1px 1px #0000003b;
}

.page_content {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 5vw;
    width: 85vw;
    height: 80vh;
    z-index: 0;
    background-color: #ffffff;
}

.left_page {
position: absolute;
left: 0;
width: 40%;
height: 100%;
background-color: transparent;
overflow: hidden;
}

.right_page {
    position: absolute;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
}

.right_content {
    height: auto;
    margin-top: 8%;
    width: 90%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
}

.content_wrapper {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    width: 80%;
    padding-left: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    margin: 10px 0;
}


#about_image {
    display: flex !important;
    margin-top: 8%;
    flex-flow: column nowrap;
    justify-content: start !important;
    align-items: center !important;
}

#picture_gilles {
    position: relative;
    max-width: 85%;
    height: auto;
    margin: 0 auto;
}

#intro_frames {
    position: absolute;
    bottom: 7.5em;
    height: 25em;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#intro_frames img {
    width: 33%;
    height: 25em;
    display: block;
}

.p_extra {
    font-size: small;
}


#contact_form {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.contact-input {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

#send_button {
    align-self: flex-end;
    margin: 3px 0;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(255, 255, 255, 0); /* Fallback color */
    background-color: rgba(226, 226, 226, 0.637); /* Black w/ opacity */
}
/* Modal Header */
.modal-header {
    width: 90%;
    padding: 2px 16px;
    height: 15%;
    align-self: flex-start;
    margin-left: 10%;
  }

  .modal-header h2 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #00000049;
  }
  
  /* Modal Body */
  .modal-body {    
    width: 50%;
    height: 72.5%;  
    padding: 2px 16px;
    position: relative;
    align-self: flex-end;
    margin-right: 10%;
    color: rgb(255, 255, 255);
}
  
  /* Modal Footer */
  .modal-footer {
    width: 80%;
    font-size: 0.75em;
    padding: 2px 16px;
    height: auto;
    align-self: flex-end;
    margin: 5px 10%;
    text-shadow: 1px 1px 2px #00000049;
    background-color: rgba(0, 0, 0, 0.205);
  }

  .modal-footer p {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #00000049;
  }
  
  /* Modal Content */
  .modal-content {
    background-image: url("../img/postbox2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    height: 50%;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
/* Modal Header */
.modal-header-details {
    width: 90%;
    padding: 2px 16px;
    text-shadow: 2px 2px 4px #00000049;
    height: 15%;
    align-self: flex-start;
    margin-left: 10%;
  }
  
  /* Modal Body */
  .modal-body-details {    
    width: 50%;
    height: 70%;  
    padding: 2px 16px;
    position: relative;
    align-self: flex-end;
    margin-right: 10%;
}
  
  /* Modal Footer */
  .modal-footer-details {
    width: 80%;
    font-size: 0.75em;
    padding: 2px 16px;
    height: auto;
    align-self: flex-end;
    margin: 5px 10%;
    text-shadow: 1px 1px 2px #00000049;
    background-color: rgba(0, 0, 0, 0.205);
  }
  
  /* Modal Content */
  .modal-content-details {
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    height: 50%;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: rgb(255, 255, 255);
  }
  
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
  }

#nav_home {
    font-size: 2em;
}

.nav_links {
    list-style: none;
    z-index: 999;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
    z-index: 999;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    z-index: 999;
}

.nav_links li a:hover {
    color: #798e8e;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0.9em;
    font-family: "Montserrat", sans-serif;
    display: inline;
    text-align: center;
    padding-bottom: 1.75em;
}

.footer_txt {
    position: relative;
    margin: 0 auto;
    float: none;
}